/* 우선 순위 : html 안의 style> id > class > tag */

/* class 선언 */
/* class 특징  1. 점 찍고 작명, 2. 이름 중복 피하기*/
.profile{
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}
.name{
    text-align: center; 
    letter-spacing: 5px; 
    font-size: 2.5vw;
    color : red;
}
.content{
    text-align: center; 
}

.box{
    text-align: center;
    background-color: aqua;
    width: 200px;
    
    /* 상하좌우 여백 */
    margin :10px;
    /* 상하좌우 안쪽 여백 */
    padding: 40px;
    /* 테두리 */
    /* border : 4px solid black; */
    /* 테두리 둥글게 */
    border-radius: 15px;

    /* 가운데 정렬 */
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;

    /* 숙제3 - 박스에 그림자 효과 */
    box-shadow: 10px 10px 0 0 ;
}